# Python
__pycache__/
*.py[cod]
*.env
venv/
.venv/
*.egg-info/
dist/
build/

# Node
node_modules/
dist/
.env
.env.local
.env.production

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Base de datos local
*.db
*.sqlite
